* , *::before, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --colorDefault: yellow;
    --colorCorrect: green;
    --colorIncorrect: red;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(26, 63, 142, 0.66);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 25px;
    color: white;
    height: 50%;
    width: 700px;
    max-width: 80%;
    background-color: rgba(6, 32, 199, 0.816);
    border-radius: 10%;
    box-shadow: 0 0 30px 5px var(--colorDefault);
}

/* .container.correct{
    box-shadow: 0 0 30px 5px var(--colorCorrect);
}

.container.incorrect{
    box-shadow: 0 0 30px 5px var(--colorIncorrect);
} */

.answer-grid {
    display: grid;
    grid-template-columns: repeat(2, 55%);
    gap: 10px;
    margin: 30px 20px;
    max-width: fit-content;
}

.btn {
    background-color: var(--colorDefault);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-weight: 900;
    font-size: 17px;
    width: 300px auto;
    max-width: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.btn:hover {
    background-color: black;
    color: white;
}

.btn.correct {
    background-color: var(--colorCorrect);
}

.btn.incorrect {
    background-color: var(--colorIncorrect);
}

.btn-control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

#question {
    font-weight: bold;
    font-size: 28px;
}